# general network
BLESK_NET_INTERNAL_IPV6=fd12:3456:789a:1::/64

# TOR
BLESK_TOR_VERSION=0.4.8.22

BLESK_TOR_COOKIE_DIR=/home/nonroot/.shared/tor/

BLESK_TOR_IPV6=fd12:3456:789a:1::101
BLESK_TOR_PORT_SOCKS=9050
BLESK_TOR_PORT_CONTROL=9051

# Bitcoin Core
BLESK_BITCOINCORE_VERSION=30.2

BLESK_BITCOINCORE_COOKIE_DIR=/home/nonroot/.shared/bitcoincore/

BLESK_BITCOINCORE_IPV6=fd12:3456:789a:1::102
BLESK_BITCOINCORE_PORT_RPC=28256
BLESK_BITCOINCORE_PORT_P2P=8333
BLESK_BITCOINCORE_PORT_ZMQ_BLOCK=28332
BLESK_BITCOINCORE_PORT_ZMQ_TX=28333

BLESK_BITCOINCORE_INITIAL_RUN=0

BLESK_BITCOINCORE_MAX_CONNECTIONS=40
BLESK_BITCOINCORE_MAX_UPLOAD_TARGET=5000
BLESK_BITCOINCORE_DB_CACHE=2000

# Electrs
BLESK_ELECTRS_VERSION=0.11.0

BLESK_ELECTRS_IPV6=fd12:3456:789a:1::103
BLESK_ELECTRS_PORT=50001

BLESK_ELECTRS_LOOKUP_LIMIT=501
BLESK_ELECTRS_BATCH_SIZE=10

# BTC RPC Explorer
BLESK_EXPLORER_VERSION=3.5.1
BLESK_EXPLORER_CHECKSUM=8d0d6c1ec643195a35fea9b73dcaac660772f6842eeebbaf30a7b5eb77047de64c9cb96460ae676e933c1f71d43fb450384518edeab386bfcb59e27a5eefc59e

BLESK_EXPLORER_CACHE_DIR=/home/nonroot/cache

BLESK_EXPLORER_IPV6=fd12:3456:789a:1::104
BLESK_EXPLORER_PORT=3002
BLESK_EXPLORER_PORT_SSL=3003

BLESK_EXPLORER_SLOW_DEVICE_MODE=false

# MariaDB
BLESK_MARIADB_VERSION=11.8

BLESK_MARIADB_IPV6=fd12:3456:789a:1::105
BLESK_MARIADB_PORT=3306

BLESK_MARIADB_SCRIPTS_CHECKSUM_1=8c419dd3fe6b080d85fb840be7c8ef807e9ae11e3237440126b8278307bce3c2fa66fa1155a7d2066287920c570d7a63ae537d156fe1be6a2602665a0afe93b9
BLESK_MARIADB_SCRIPTS_CHECKSUM_2=1b555089b14873adf507131c71f0c60b326b556e6e7d5c52e75c2806d0334a88b866f52c34d92c49ee6e8dd6d16b48149022ce56708a3f4a3cc10bf387191d9c

MARIADB_ROOT_PASSWORD=CHANGE_THIS_SECRET
MARIADB_USER=blesk
MARIADB_PASSWORD=CHANGE_THIS_SECRET_TOO
MARIADB_DATABASE=blesk
MARIADB_AUTO_UPGRADE=true

# Dojo
BLESK_DOJO_VERSION=1.28.2

BLESK_DOJO_IPV6=fd12:3456:789a:1::106
BLESK_DOJO_PORT_API=8090
BLESK_DOJO_PORT_PUSHTX=8091
BLESK_DOJO_PORT_TRACKER=8092

BLESK_DOJO_LOGS_DIR="/home/nonroot/logs"

BLESK_DOJO_API_KEY=CHANGE_ME
BLESK_DOJO_ADMIN_KEY=CHANGE_ME_ABSOLUTELY
BLESK_DOJO_JWT_SECRET=CHANGE_ME_DEFINITELY

BLESK_DOJO_AUTH47_PAYMENT_CODE=YOUR_PAYMENT_CODE

# Nginx
BLESK_NGINX_IPV6=fd12:3456:789a:1::107
BLESK_NGINX_PORT=8080

NGINX_ENVSUBST_TEMPLATE_DIR=/etc/nginx/templates
NGINX_ENVSUBST_OUTPUT_DIR=/etc/nginx/sites-enabled

# LND
BLESK_LND_VERSION=0.20.0
BLESK_LND_SIGNATURES='bhandras ellemouton guggero hieblmi roasbeef ViktorTigerstrom yyforyongyu'

BLESK_LND_USERNAME=lnd
BLESK_LND_UID=2108
BLESK_LND_GID=2108
BLESK_LND_HOME="/home/${BLESK_LND_USERNAME}"

BLESK_LND_IPV6=fd12:3456:789a:1::108
BLESK_LND_PORT_P2P=9735
BLESK_LND_PORT_RPC=10009
BLESK_LND_PORT_REST=8080

BLESK_LND_ALIAS=blesk
BLESK_LND_WALLET_PASSWORD=CHANGE_ME
BLESK_LND_SEED=OPTIONAL
BLESK_LND_SEED_PASSPHRASE=OPTIONAL

BLESK_LND_SCB_BACKUP_DIR=/opt/backup/

BLESK_LNDINIT_VERSION=0.1.33

BLESK_LNDCONNECT_VERSION=0.2.1
BLESK_LNDCONNECT_CHECKSUM=e69bfd57cda508569f6482b9c729ddc6dfb0f30a587f1c7670729de27b49db85434e81d975533ae4f5ca98eee2e926ec769393dff4cf0de14dcfa73215e0e012
