# general network
BLESK_NET_INTERNAL_IPV4=172.28.0.0/16
BLESK_NET_INTERNAL_IPV6=fd12:3456:789a:1::/64

# TOR
BLESK_TOR_VERSION=0.4.8.16

BLESK_TOR_USERNAME=tor
BLESK_TOR_UID=2101
BLESK_TOR_GID=2101
BLESK_TOR_HOME="/home/${BLESK_TOR_USERNAME}"
BLESK_TOR_ONIONS="${BLESK_TOR_HOME}/onions"

BLESK_TOR_IPV6=fd12:3456:789a:1::101
BLESK_TOR_IPV4=172.28.21.101
BLESK_TOR_PORT_SOCKS=9050
BLESK_TOR_PORT_CONTROL=9051

# Bitcoin Core
BLESK_BITCOINCORE_VERSION=29.0

BLESK_BITCOINCORE_USERNAME=bitcoincore
BLESK_BITCOINCORE_UID=2102
BLESK_BITCOINCORE_GID=2102
BLESK_BITCOINCORE_HOME="/home/${BLESK_BITCOINCORE_USERNAME}"

BLESK_BITCOINCORE_IPV6=fd12:3456:789a:1::102
BLESK_BITCOINCORE_IPV4=172.28.21.102
BLESK_BITCOINCORE_PORT_RPC=28256
BLESK_BITCOINCORE_PORT_P2P=8333
BLESK_BITCOINCORE_PORT_ZMQ_BLOCK=28332
BLESK_BITCOINCORE_PORT_ZMQ_TX=28333

BLESK_BITCOINCORE_INITIAL_RUN=0

BLESK_BITCOINCORE_RPC_USER=rpcUser
BLESK_BITCOINCORE_RPC_PASSWORD=rpcPassword

BLESK_BITCOINCORE_MAX_CONNECTIONS=40
BLESK_BITCOINCORE_MAX_UPLOAD_TARGET=5000
BLESK_BITCOINCORE_DB_CACHE=2000
