# general network
BLESK_NET_INTERNAL_IPV4=172.28.0.0/16
BLESK_NET_INTERNAL_IPV6=fd12:3456:789a:1::/64

# TOR
BLESK_TOR_VERSION=0.4.8.16

BLESK_TOR_USERNAME=tor
BLESK_TOR_UID=2101
BLESK_TOR_GID=2101
BLESK_TOR_HOME="/home/${BLESK_TOR_USERNAME}"
BLESK_TOR_ONIONS="${BLESK_TOR_HOME}/onions"

BLESK_TOR_IPV6=fd12:3456:789a:1::101
BLESK_TOR_IPV4=172.28.21.101
BLESK_TOR_PORT_SOCKS=9050
BLESK_TOR_PORT_CONTROL=9051

# Bitcoin Core
BLESK_BITCOINCORE_VERSION=29.0

BLESK_BITCOINCORE_USERNAME=bitcoincore
BLESK_BITCOINCORE_UID=2102
BLESK_BITCOINCORE_GID=2102
BLESK_BITCOINCORE_HOME="/home/${BLESK_BITCOINCORE_USERNAME}"

BLESK_BITCOINCORE_IPV6=fd12:3456:789a:1::102
BLESK_BITCOINCORE_IPV4=172.28.21.102
BLESK_BITCOINCORE_PORT_RPC=28256
BLESK_BITCOINCORE_PORT_P2P=8333
BLESK_BITCOINCORE_PORT_ZMQ_BLOCK=28332
BLESK_BITCOINCORE_PORT_ZMQ_TX=28333

BLESK_BITCOINCORE_INITIAL_RUN=0

BLESK_BITCOINCORE_RPC_USER=rpcUser
BLESK_BITCOINCORE_RPC_PASSWORD=rpcPassword

BLESK_BITCOINCORE_MAX_CONNECTIONS=40
BLESK_BITCOINCORE_MAX_UPLOAD_TARGET=5000
BLESK_BITCOINCORE_DB_CACHE=2000

# Electrs
BLESK_ELECTRS_VERSION=0.10.10

BLESK_ELECTRS_USERNAME=electrs
BLESK_ELECTRS_UID=2103
BLESK_ELECTRS_GID=2103
BLESK_ELECTRS_HOME="/home/${BLESK_ELECTRS_USERNAME}"

BLESK_ELECTRS_IPV6=fd12:3456:789a:1::103
BLESK_ELECTRS_IPV4=172.28.21.103
BLESK_ELECTRS_PORT=50001

BLESK_ELECTRS_LOOKUP_LIMIT=501
BLESK_ELECTRS_BATCH_SIZE=10

# BTC RPC Explorer
BLESK_EXPLORER_VERSION=3.5.1
BLESK_EXPLORER_CHECKSUM=8d0d6c1ec643195a35fea9b73dcaac660772f6842eeebbaf30a7b5eb77047de64c9cb96460ae676e933c1f71d43fb450384518edeab386bfcb59e27a5eefc59e

BLESK_EXPLORER_USERNAME=explorer
BLESK_EXPLORER_UID=2104
BLESK_EXPLORER_GID=2104
BLESK_EXPLORER_HOME="/home/${BLESK_EXPLORER_USERNAME}"

BLESK_EXPLORER_IPV6=fd12:3456:789a:1::104
BLESK_EXPLORER_IPV4=172.28.21.104
BLESK_EXPLORER_PORT=3002
BLESK_EXPLORER_PORT_SSL=3003

BLESK_EXPLORER_SLOW_DEVICE_MODE=false

# MariaDB
BLESK_MARIADB_VERSION=11.8.2

BLESK_MARIADB_IPV6=fd12:3456:789a:1::105
BLESK_MARIADB_IPV4=172.28.21.105
BLESK_MARIADB_PORT=3360

BLESK_MARIADB_SCRIPTS_CHECKSUM_1=8c419dd3fe6b080d85fb840be7c8ef807e9ae11e3237440126b8278307bce3c2fa66fa1155a7d2066287920c570d7a63ae537d156fe1be6a2602665a0afe93b9
BLESK_MARIADB_SCRIPTS_CHECKSUM_2=1b555089b14873adf507131c71f0c60b326b556e6e7d5c52e75c2806d0334a88b866f52c34d92c49ee6e8dd6d16b48149022ce56708a3f4a3cc10bf387191d9c

MARIADB_ROOT_PASSWORD=CHANGE_THIS_SECRET
MARIADB_USER=blesk
MARIADB_PASSWORD=CHANGE_THIS_SECRET_TOO
MARIADB_DATABASE=blesk
MARIADB_AUTO_UPGRADE=true

# Dojo
BLESK_DOJO_VERSION=1.27.0

BLESK_DOJO_USERNAME=dojo
BLESK_DOJO_UID=2106
BLESK_DOJO_GID=2106
BLESK_DOJO_HOME="/home/${BLESK_DOJO_USERNAME}"

BLESK_DOJO_IPV6=fd12:3456:789a:1::106
BLESK_DOJO_IPV4=172.28.21.106
BLESK_DOJO_PORT_API=8080
BLESK_DOJO_PORT_PUSHTX=8081
BLESK_DOJO_PORT_TRACKER=8082

BLESK_DOJO_API_KEY=CHANGE_ME
BLESK_DOJO_ADMIN_KEY=CHANGE_ME_ABSOLUTELY
BLESK_DOJO_JWT_SECRET=CHANGE_ME_DEFINITELY

BLESK_DOJO_AUTH47_PAYMENT_CODE=YOUR_PAYMENT_CODE
