# general
BLESK_NET_INTERNAL_PREFIX_BASE=fd12:3456:789a:1::
BLESK_NET_INTERNAL=${BLESK_NET_INTERNAL_PREFIX_BASE}/64

BLESK_DIR_HOME=/home/nonroot
BLESK_DIR_COOKIES=/usr/local/share/blesk


# TOR
BLESK_TOR_VERSION=0.4.9.6

BLESK_TOR_OPENSSL_VERSION=3.6.1
BLESK_TOR_OPENSSL_SIGNATURE_KEY=BA5473A2B0587B07FB27CF2D216094DFD0CB81EF

BLESK_TOR_ID=01

BLESK_TOR_DIR_COOKIE=${BLESK_DIR_COOKIES}/tor

BLESK_TOR_NET_ADDRESS=${BLESK_NET_INTERNAL_PREFIX_BASE}1${BLESK_TOR_ID}
BLESK_TOR_NET_PORT_SOCKS=9050
BLESK_TOR_NET_PORT_CONTROL=9051
