# general
BLESK_NET_INTERNAL_PREFIX_BASE=fd12:3456:789a:1::
BLESK_NET_INTERNAL=${BLESK_NET_INTERNAL_PREFIX_BASE}/64

BLESK_DIR_HOME=/home/nonroot
BLESK_DIR_COOKIES=/usr/local/share/blesk


# TOR
BLESK_TOR_VERSION=0.4.9.5

BLESK_TOR_ID=01

BLESK_TOR_DIR_COOKIE=${BLESK_DIR_COOKIES}/tor

BLESK_TOR_NET_ADDRESS=${BLESK_NET_INTERNAL_PREFIX_BASE}1${BLESK_TOR_ID}
BLESK_TOR_NET_PORT_SOCKS=9050
BLESK_TOR_NET_PORT_CONTROL=9051

# Bitcoincore
BLESK_BITCOINCORE_VERSION=30.2

BLESK_BITCOINCORE_ID=02

BLESK_BITCOINCORE_DIR_COOKIE=${BLESK_DIR_COOKIES}/bitcoincore
BLESK_BITCOINCORE_COOKIE=${BLESK_BITCOINCORE_DIR_COOKIE}/.cookie

BLESK_BITCOINCORE_NET_ADDRESS=${BLESK_NET_INTERNAL_PREFIX_BASE}1${BLESK_BITCOINCORE_ID}
BLESK_BITCOINCORE_NET_PORT_RPC=28256
BLESK_BITCOINCORE_NET_PORT_P2P=8333
BLESK_BITCOINCORE_NET_PORT_ZMQ_BLOCK=28332
BLESK_BITCOINCORE_NET_PORT_ZMQ_TX=28333

BLESK_BITCOINCORE_MAX_CONNECTIONS=40
BLESK_BITCOINCORE_MAX_UPLOAD_TARGET=5000
BLESK_BITCOINCORE_DB_CACHE=2000
