ClientPreferIPv6ORPort 1

SocksPort [${BLESK_TOR_IPV6}]:${BLESK_TOR_PORT_SOCKS}

SocksPolicy accept6 ${BLESK_NET_INTERNAL_IPV6}
SocksPolicy reject *

DataDirectory ${BLESK_TOR_HOME}/.tor
DataDirectoryGroupReadable 1

ControlPort [${BLESK_TOR_IPV6}]:${BLESK_TOR_PORT_CONTROL}
CookieAuthentication 1
CookieAuthFile ${BLESK_TOR_HOME}/.tor/control_auth_cookie
CookieAuthFileGroupReadable 1

# bitcoincore
HiddenServiceDir ${BLESK_TOR_ONIONS}/${BLESK_BITCOINCORE_USERNAME}
HiddenServiceVersion 3
HiddenServicePort ${BLESK_BITCOINCORE_PORT_P2P} [${BLESK_BITCOINCORE_IPV6}]:${BLESK_BITCOINCORE_PORT_P2P}
HiddenServiceDirGroupReadable 1

# electrs
HiddenServiceDir ${BLESK_TOR_ONIONS}/${BLESK_ELECTRS_USERNAME}
HiddenServiceVersion 3
HiddenServicePort ${BLESK_ELECTRS_PORT} [${BLESK_ELECTRS_IPV6}]:${BLESK_ELECTRS_PORT}
HiddenServiceDirGroupReadable 1

# explorer
HiddenServiceDir ${BLESK_TOR_ONIONS}/${BLESK_EXPLORER_USERNAME}
HiddenServiceVersion 3
HiddenServicePort 80 [${BLESK_EXPLORER_IPV6}]:${BLESK_EXPLORER_PORT}
HiddenServiceDirGroupReadable 1

# dojo
HiddenServiceDir ${BLESK_TOR_ONIONS}/${BLESK_DOJO_USERNAME}
HiddenServiceVersion 3
HiddenServicePort 80 [${BLESK_NGINX_IPV6}]:${BLESK_NGINX_PORT}
HiddenServiceDirGroupReadable 1
