; https://github.com/lightningnetwork/lnd/blob/master/sample-lnd.conf

[Application Options]
tlsautorefresh=true
tlsdisableautofill=true

listen=[${BLESK_LND_IPV6}]:${BLESK_LND_PORT_P2P}

rpclisten=localhost:${BLESK_LND_PORT_RPC}
rpclisten=[${BLESK_LND_IPV6}]:${BLESK_LND_PORT_RPC}

restlisten=[${BLESK_LND_IPV6}]:${BLESK_LND_PORT_REST}

maxpendingchannels=5

wallet-unlock-password-file=$password_file
wallet-unlock-allow-create=true

minchansize=100000

coop-close-target-confs=24

ignore-historical-gossip-filters=true

stagger-initial-reconnect=true

accept-keysend=true

accept-amp=true

gc-canceled-invoices-on-startup=true
gc-canceled-invoices-on-the-fly=true

alias=$BLESK_LND_ALIAS

[fee]

[prometheus]

[Bitcoin]
bitcoin.mainnet=true
bitcoin.node=bitcoind

[Btcd]

[Bitcoind]
bitcoind.rpchost=bitcoincore:${BLESK_BITCOINCORE_PORT_RPC}
bitcoind.rpccookie=${BLESK_LND_HOME}/.bitcoin/.cookie
bitcoind.zmqpubrawblock=tcp://bitcoincore:${BLESK_BITCOINCORE_PORT_ZMQ_BLOCK}
bitcoind.zmqpubrawtx=tcp://bitcoincore:${BLESK_BITCOINCORE_PORT_ZMQ_TX}

[neutrino]

[autopilot]

[tor]
tor.active=true
tor.socks=${BLESK_TOR_IPV6}
tor.streamisolation=true
tor.control=${BLESK_TOR_IPV6}
tor.targetipaddress=${BLESK_LND_IPV6}
tor.v3=true

[logging]

[watchtower]

[wtclient]
wtclient.active=true

[healthcheck]

[signrpc]

[walletrpc]

[chainrpc]

[routerrpc]

[workers]

[caches]

[protocol]
protocol.wumbo-channels=true
protocol.simple-taproot-chans=true

[db]

[etcd]

[postgres]

[sqlite]

[bolt]
db.bolt.auto-compact=true
db.bolt.auto-compact-min-age=168h

[cluster]

[rpcmiddleware]

[remotesigner]

[gossip]

[invoices]

[routing]

[sweeper]

[sweeper.budget]

[htlcswitch]

[grpc]

[pprof]
